{{> head }}

{{> navbar }}

<div class="row">
  <div class="col-8">
    <h1>Mapa</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque non recusandae illo praesentium tempora velit adipisci enim molestias voluptatibus, nobis officiis deleniti consectetur laboriosam magni labore nostrum dolorem nisi repudiandae.</p>
  </div>

  <div class="col-4">
    <img src="assets/img/imagen.png" class="img-thumbnail">
  </div>
</div>


{{> footer }}